@use '../../../styles/variables.scss' as *;

:host {
  display: block;
  width: 100%;
}

.hero-section {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: $bg-white;

  .hero-content {
    text-align: center;
    background: $bg-dark;
    padding: 50px;
    border-radius: 10px;

    @media (max-width: 768px) {
        padding: 25px;
    }
    
    .hero-line {
      overflow: hidden;
      
      span {
        display: block;
        font-size: clamp(3rem, 10vw, 12rem);
        font-weight: 800;
        line-height: 0.9;
        
        &.hollow {
          -webkit-text-stroke: 2px $text-main;
          color: transparent;
        }
      }
    }
  }

  .hero-meta {
    position: absolute;
    bottom: 40px;
    font-size: 0.9rem;
    color: $text-dim;
    animation: blink 2s infinite;
  }
}
