.cinematic-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 2;
}

.layer {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
}