@use '../../../styles/variables.scss' as *;

.intro-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background: $bg-dark;
    position: relative;
    padding: 100px 0;
    text-align: justify;
    opacity: 0;
    transform: scale(1.5);
    filter: blur(20px) brightness(0);
}

.ide-wraper {
    width: 80%;
}

.ide-header {
    background: #252526;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    
    .dots {
      display: flex; gap: 6px; margin-right: 20px;
      .dot { width: 12px; height: 12px; border-radius: 50%; }
      .red { background: #ff5f56; }
      .yellow { background: #ffbd2e; }
      .green { background: #27c93f; }
    }
    .filename { color: #999; font-size: 0.9rem; }
}


.code-block {
  background: #1e1e1e;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 2rem;
  
  overflow-x: auto; 
  
  font-family: 'Fira Code', 'Consolas', monospace;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #d4d4d4;
  
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e1e;
  }
  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
  }

  code {
    .keyword { 
      color: #569cd6;
      font-weight: bold;
    }
    
    .annotation { 
      color: #bbb529;
    }
    
    .string { 
      color: #ce9178;
    }
    
    .class-name { 
      color: #4ec9b0;
    }
    
    .function { 
      color: #dcdcaa;
    }
    
    .comment { 
      color: #6a9955; 
      font-style: italic;
    }
  }
}

// Responsywność
@media (max-width: 768px) {
  .intro-section {
    padding: 1rem;
  }
  
  .code-block {
    padding: 1.5rem;
    font-size: 0.85rem;
  }
}